/*Contenido para la pagina principal*/ 
.inicio, .histologia, .anatomia, .contacto {
    display: grid;
    font-family: arial, 'Times New Roman', sans-serif;
    background-color: rgb(240, 227, 227);
    border: 0.5px solid;
    text-align: center;
    font-weight: 600;
}

.texto_del_header {
    display: grid;
    height: 125px;
    width: 308px;
    text-shadow: 5px 5px 5px rgb(189, 131, 131);
    background-color: rgba(248, 248, 248, 0.993);
    transform: translateZ(5px);
    margin:-119.5px 0px -2px 95px;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', tahoma, verdana, sans-serif;
}

nav{
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
    margin-top: 3px;
    margin-left: -3px;
    margin-right: -7.5px;
}

.titulo_encabezado {
    display: grid;
    font-family: Verdana, Arial, sans-serif;
    text-decoration: underline;
    text-align: center;
}
.img_header_II {
    display: grid;
    width: 104px;
    transform: translateZ(5px);
    margin-left: -8px;
    justify-content: left;
    height: 120px;
    margin-top: -130.5px;
}

article {
    display: grid;  
    text-align: justify;
    padding: 10px;
    border: thick double rgb(14, 139, 148);
    font-size: 18px;
    font-weight: 900;
    background-color: rgba(225, 235, 234, 0.863);
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', tahoma, verdana, sans-serif;
}
.more_info {
    text-align: right;
    font-weight: 900;
    font-size: 20px;
}

img{
    max-width: 100%;
    max-height: 80%;
}

.img_header_II>img {
    transform: translateZ(5px);
    margin-top: 0px;
    height: 157px;
}

.imagen_del_header>img{
    width: 100%;
    height: 124px;
}

a:link { color: black; }
a:visited { color: purple; }
a:active { color: red; }

aside {
    text-align: center;
    text-decoration: underline;
    font-family: verdana, arial, sans-serif;
    border: solid;
}

.imagenes_del_aside {
    align-content: center;
    text-align: center;
    font-weight: bolder;
    font-family: Verdana, sans-serif;
}

.caja_de_articulos{
    display: grid;
    grid-gap: 5px;
    width: 50%;
}

/*Contenido para la página de formulario*/
#titulo_formulario{
    display: grid;
    border: solid #000;
    background-color: rgb(9, 9, 92);
    color: white;
    font-family: arial, verdana, tahoma, sans-serif;
    font-size: medium;
    font-style: italic;
    padding-left: 2%;
}
.datos {
    display: grid;
    border: solid;
    font-family: arial, verdana, tahoma, sans-serif;
    font-size: medium;
    font-weight: 750;
}
.contenido_adicional{
    align-items: center;
    text-align: justify;
    font-family: arial, verdana, tahoma, sans-serif;
    font-size: small;
}

/*pie de pagina*/
footer {
    display: grid;
    text-align: center;
    font-size: 30px;
    font-family: arial, tahoma, verdana, sans-serif;
    justify-content: center;
    align-content: end;
    background-color: rgb(170, 163, 163);
}
#rrss_icons{
    padding-bottom: 1em;
}
/*Ajustes responsives*/
@media screen and (min-width: 1080px) {
    .caja_de_articulos{
        margin-left: 4%;
    }
    aside {
        display: grid;
        margin-left: 58%;
        margin-top: -1700px;
        margin-right: 6%;
        width: 38%;
    }
    .imagenes_del_aside {
        padding: 0px 100px 0px 105px;
    }
    article, .titulo_encabezado{    
        margin-right: 2%;
        margin-left: 2%;
    }
    .inicio, .contacto, .anatomia, .histologia {
        font-size: 1.75vw;
    }
    .inicio {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .contacto {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #titulo_formulario {
        width: 40%;
        margin-top: 3%;
        transform: translateX(110%);
    }
    .datos {
        width: 42%;
        transform: translateX(110%);
    }
    .contenido_adicional {
        display: grid;
        width: 35%;
        margin: 2% 0 0 6%;
    }
    .formulario {
        display: grid;
        margin-top: -20%;
    }
    textarea {
        min-width: 50%;
        max-width: 85%;
    }
    #anato{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        row-gap: 7em;
        column-gap: 7em;
        padding: 5% 0 0 10%;
    }
    #foto_anatomica {
        margin: 5% 20% 0 0;
    }
    #histo{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        row-gap: 5em;
        column-gap: 5em;
        padding: 5% 0 0 5%;
    }
    #foto_histologica {
        margin: 5% 20% 0 0;
    }
    .direccion_sede {
        display: grid;
        width: 25%;
        margin: -20% 0 0 4.5%;
    }
    .imagenes_del_aside>img:hover {
        width: 700px;
        height: 300px;
    }
    .direccion_sede>iframe {
        width: 440px;
        height: 385px;
        
    }
    .direccion_sede>p {
        font-family: arial, tahoma, verdana, sans-serif;
    }
    footer{
        display: grid;
        margin-top: 8em;
        height: 200px;
    }
}

@media (min-width: 321px) and (max-width: 1079px) {
    .caja_de_articulos {
        width: 100%;
        margin-right: -25%;
    }
    .imagenes_del_aside {
        padding: 0px;
    }
    article, .titulo_encabezado {
        margin: center;
    }
    .inicio, .contacto, .anatomia, .histologia {
        font-size: large;
    }
    nav {
        grid-template-columns: (repeat 1, auto);
    }
    .imagen_del_header>img {
        height: 126px;
    }
    #foto_anatomica {
        visibility: collapse;
    }
    input {
        display: grid;
        width: 60%;
        margin-bottom: 0px 40px 0px 0px;
    }
    #mujer, #hombre {
        display: inline-grid;
        border: 0.5px solid;
        align-content: center;
        padding: 5px;
    }
    .formulario {
        display: grid;
        margin-top: -30%;
    }
    .contenido_adicional{
        visibility: collapse;
    }
    textarea{
        min-width: 30%;
        max-width: 70%;
    }
    .direccion_sede {
        display: grid;
        width: 50%;
        grid-template-columns: repeat(1, auto);
        margin: 8% 0 0 13%;
    }
    .direccion_sede>iframe {
        width: 420px;
    }
    .direccion_sede>p {
        font-family: arial, tahoma, verdana, sans-serif;
    }
    #foto_histologica {
        visibility: collapse;
    }
    footer{
        display: grid;
        margin-top: 15em;
        height: 200px;
    }
}

@media (max-width: 320px) {
    section>aside {
        display: grid;
        visibility: collapse;
    }
    article, .titulo_encabezado {
        width: 100%;
    }
    .inicio, .contacto, .anatomia, .histologia {
        font-size: x-large
    }
    nav {
        grid-template-columns: repeat(1, 400px);
        width: 100%;
    }
    .texto_del_header {
        font-size:x-large;
        width: 302px;
    }
    .imagen_del_header {
        visibility: collapse;
    }
    #foto_anatomica{
        visibility: collapse;
    }
    input {
        display: grid;
        width: 50%;
    }
    #mujer, #hombre {
        display: grid;
        padding: 5px;
        text-align: center;
        width: 60%;
    }
    .formulario {
        display: grid;
        margin-top: -60%;
        margin-left: 70px;
    }
    .contenido_adicional{
        visibility: collapse;
    }
    textarea {
        display: grid;
        width: 80%;
    }
    .direccion_sede {
        margin-top: 6%;
        width: 50%;
    }
    .direccion_sede>iframe{
        width: 386px;
        margin: 20px 0 0 -70px;
    }
    .direccion_sede>p {
        font-family: arial, tahoma, verdana, sans-serif;
    }
    .datos {
        width: 75%;
    }
    #titulo_formulario {
        width: 73%;
        justify-content: center;
    }
    #foto_histologica {
        visibility: collapse;
    }
    footer{
        display: grid;
        margin-top: -82em;
        height: 20px;
        height: 200px;
    }
}